* { /* Gælder alt på hele siden */
    box-sizing: border-box; /* Bokse har altid den størrelse man giver uanset om der tilføjes margen, padding mv. */
}

/* Ovenstående kode kan give problemer ved nogle 3. parts scripts man henter. Men det gør det nemmere at forstå og lave kodning når man starter. */

body {
    margin: 0; /* Ingen kanter i siden af browser */
    background-color: lightpink;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0; /* Ingen ydre margen fra overskrifter */
    padding: 0; /* Ingen indre margen fra overskrifter */
}

ul, ol {
    margin: 2px 10px 2px 10px; /* Mindre margen på punkter */
    padding: 0; /* Ingen indre margen fra lister */
    list-style-position: inside; /* List punkter står på linje */
}

li {
    margin: 0; /* Ingen ydre margen fra listpunkter */
}

p {
    margin: 0; /* Ingen ydre margen fra paragraffer */
    padding: 0; /* Ingen indre margen fra paragraffer */
}

/* Sikrer billeder er responsive */
img {
    display: block; /* Billeder er et element (laver linjeskift) */
    max-width: 100%; /* Bredde må maks fylde 100% */
    height: auto; /* Højden skal tilpasse sig */
}
.click{cursor: pointer;}
.tdnone{text-decoration: none;}
.flotfont{font-family: 'Great Vibes', cursive;}
header{
    background-color: rgba(255,255,255,0.8);
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Great Vibes', cursive;
}
#logo{
    margin-left: 3vw;
    max-height: 75px;
    max-width: 75px;
}
#menuweb{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menupunkt{margin: 0 30px;}
.omweb{
    color: deeppink;
    font-size: 20pt;
}
.umweb{
    color: #ff1493;
    font-size: 18pt;
    padding: 10px 10px;
}
.dropdownweb{
    display: none;
    position: absolute;
    width: 200px;
    padding-top: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 1;
}
.menupunkt:hover .dropdownweb{
    display: flex;
    flex-direction: column;
}
.fa-shopping-basket{margin-right: 3vw;}

main{
    display: grid;
    grid-template-columns: 15vw 23vw 24vw 23vw 15vw;
}
#hero{
    grid-column: 1 / -1;
    height: 30vh;
    overflow: hidden;
}
#intro{
    margin: 20px 0;
    font-size: 60pt;
    grid-column: 1 / -1;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 3px dimgrey;
}

button:hover .button {
    display: flex;
    flex-direction: column;
    background-color: #ffb6c1;
}

.button {
    cursor: pointer;
    justify-content: center;

}


.button {
    padding: 50px;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

/* Clear floats after image containers */
.row::after {
    content: "";
    clear: both;
    display: table;
}

.row {
    display: flex;
    margin: 10px;
    margin-top:40px;

}

.column {
    flex: 33.33%;
    padding: 5px;
}

img {
    text-align: center;
}

p {
    text-align: center;
    color: white;
    font-size: 25px;
}

h6{
    font-size: 15px;
    color: white;
    text-align: center;
}

button {
    background-color: #FF1493; /* deeppink */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    margin-left: 32%;
    margin-top: 10px;
}

.beskrivelse{
    color: #FF1493;
    font-size: 30px;
    text-align: center;
}


.box{
    background-color: rgba(255,255,255,0.8);
    border: rgba(255,255,255,0.8);
    margin: 5px;
    padding: 5px;
}

.row2 {
    display: flex;
    margin: 10px;
    margin-top: 60px;

}
